.dim-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    background-color: #000;
    opacity: 0.6;
    z-index: 1001;
}
.modal {
    z-index: 1002;
    position:fixed;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000;
    /*display: none;*/
    background-color: #FFF;
}

#login_response, #registration_response {
    display: none;
}

.threads-container {
    background-color: pink;
}

.thread {
    height: auto;
    width: 100%;
    border: 1px solid black;
    margin-top: 5px;
}

.thread p {
    margin: 5px;
    color: black;
    font-family: verdana;
    font-size: 20px;
}

.comments-container {
    background-color: #FFF;
}
.navbarlo
{
  height: 70px;
  background-color: #333;

}
.mummel
{
  margin-left: 10px;
  padding-top: 10px;
  position: absolute;
  color: white;
}

.navbarlo button
{
  background-color: white;
  border-color: black;
  float: right;
  margin-right: 10px;
  margin-top: 15px;

}
.navbarli
{
  height: 70px;
  background-color: #333;
}
.loggedinname
{
  color: white;
  margin-right: 50px;
  position: absolute;

}
.navbarli button
{
  background-color: white;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}
